## OS / editor
.DS_Store
.vscode/
.idea/

## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## WordPress runtime (if using Docker volumes)
wp-data/
db-data/
wp-content/uploads/
wp-content/cache/

## Build outputs
dist/
