services:
  db:
    image: mariadb:11
    container_name: hotelequip_db
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: wordpress
      MARIADB_USER: wordpress
      MARIADB_PASSWORD: wordpress
      MARIADB_ROOT_PASSWORD: root
    volumes:
      - ./db-data:/var/lib/mysql

  wordpress:
    image: wordpress:php8.2-apache
    container_name: hotelequip_wp
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
    volumes:
      - ./wp-data:/var/www/html
      - ./wp-content/themes/hotelequip-clean:/var/www/html/wp-content/themes/hotelequip-clean
